body
{
	background-color: #1e6cea;
}

form
{
	padding: 5%;
}

div h1 
{
	font-family: verdana;
}

h1
{
	padding-top: 5%;
}
h3
{
	color: white;
}
label 
{
	color:white;
}
th
{
	color:white;
}
.my-font
{
	color:white;
	font-family: 'Roboto Slab', serif;
}

button
{
	margin-right: 5px;
}
button
{
	margin-left: 5px;
}